/* Estilos para el área principal */
.areaPrincipal {
    text-align: center;
    padding: 20px;
    /* Cambia el fondo aquí */
    background-color: #09a382; /* Cambia este color por el que desees */
}

/* Estilos para los elementos dentro del área principal */
.babydiv {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

/* Estilos para el pie de página */
.piePagina {
    background-color: #860f0f;
    color: white;
    text-align: center;
    padding: 10px;
}
