
/* Estilos personalizados */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/fotos-premium/ventana-navegador-elementos-icono-programacion-3d_327483-873.jpg'); /* Cambia 'ruta-de-la-imagen.jpg' por la ruta de tu imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo según el tamaño del contenedor */
    background-color: #98eaec; /* Si la imagen de fondo no se carga, este color se mostrará como fondo de respaldo */
    margin: 0;
    padding: 0;
}

header {
    background-color: #06817b;
    color: #228a59;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

